@media screen and (max-width:1400px) {
   
    
.experience_details_container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width:800px){
    .desktop_nav {
        display: none;
    }

    

    #hamburger_nav {
        display: flex;
    }

    .contact_info_upper_container {
        flex-direction: column;
        align-items: flex-start;
    }
   
    .footer_nav .nav_links {
        flex-direction: column;
        gap:1.2rem;
    }
    
    footer p{
        margin: 5rem 0;
    }
}



@media screen and (max-width:900px){
    .about_container,.section_container {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    
}