/* GENERAL STYLING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Aventa-Light',Roboto, sans-serif;
    /*font-weight: 400;*/
    
}
    @font-face {
    font-family: 'Aventa-Light';
    src:url('./assets/fonts/Aventa-Light.woff2') format('woff2');
    /*font-weight: 900;*/
    font-display: swap;
}

html,body {
    width: 100% ;
}

html {
    scroll-behavior: smooth;
    
}

p {
    color: rgb(85 ,85 ,85);
}


/*TRANSITIONS*/
.btn {
    transition: all 300ms ease;
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    border: rgb(53 ,53 ,53) 0.1rem solid;
}

.btn:hover {
    cursor: pointer;
}

.btn:nth-child(1),
.btn:nth-child(2):hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn:nth-child(1):hover {
    background: rgb(0, 0, 0);
}

.btn:nth-child(2) {
    background: none;
}

.btn:nth-child(2):hover {
    background: rgb(255, 255, 255) 0.1rem solid;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    text-decoration-color: rgb(181, 181, 181);
}

.nav_logo {
    font-size: 3rem;
}

.nav_logo:hover {
    cursor: default;
}


/*HAMBURGER MENU */

#hamburger_nav {
    display: none;
}

.hamburger_menu {
    position: relative;
    display: inline-block;
}

.hamburger_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger_icon span {
    min-width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.15s ease-in-out;
    
}

.hamburger_menulinks {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 100%;
    transition: all 1.3s ease;
    width: fit-content;
    max-height: 0;
    background-color: white;
}

.hamburger_menulinks a{
    display: block;
    padding: 10px;
    color: black;
    transition: all 1.2s ease;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.hamburger_menulinks.open {
    max-height: 300px;

}

.hamburger_icon.open span:first-child {
    transform-origin: center;
    transform:  translateY(11px) rotate(45deg);
    
}

.hamburger_icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger_icon.open span:nth-child(3) {
    transform-origin: center;
    transform: translateY(-11px) rotate(-45deg) ;
    
}

.hamburger_icon span:first-child {
    transform: none;
}

.hamburger_icon span:nth-child(2) {
    opacity: 1;
}

.hamburger_icon span:nth-child(3) {
    transform: none;
}


/*SECTIONS*/

 section {
    padding-top: 3vh;
    /*height: 96vh;*/
    margin: 0 1rem;
    
 }

 .section_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
 }


 /*PROFILES */

 #profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    margin:4rem 0;
    
 }

.icon {
    width: auto;
    height: 4rem;
}

.section__text {
   align-self: center;
   text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    font-size: 1.75rem;
    
}

.title {
    font-size: 2rem;
}

#socials_container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.btn_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.about_container {
    gap:2rem;
    display: flex;
    
    justify-content: space-between;
}

.arrow {
    
    transform: rotate(90deg);
    
}

.arrow_container{
    margin-top:2rem ;
}



.exp_container {
    flex:1;
    text-align: center;
    margin-top: 1.5rem;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 2rem;
    padding: 2rem;
}

section {
    margin: 4rem auto;
    
}
#about {
    position: relative;
}

.details_container {
    border:1px solid rgb(53, 53, 53);
    flex: 1;
    padding: 1rem 3rem;
    border-radius: 2rem;

}

.experience_sub_title {
    color: rgb(85 ,85 ,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience_details_conatiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article_container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
}

article {
    display:flex;
    width: 10rem;
    justify-content: space-around;
    gap:0.5rem;
    align-items: center;
}

article .icon {
    cursor: default;
} 


.color_container {
    border-color: rgb(163,163,163);
    background: rgb(250, 250, 250);

}

.project_img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project_btn {
    color: black;
    border-color: rgb(163,163,163);
}


#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact_info_upper_container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border:rgb(53, 53, 53) 0.1rem solid;
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem ;

}

.contact_info_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    margin: 1rem;
}

.contact_info_container p{
    font-size: larger;
}

footer {
    text-align: center;
}

.color_container:hover {
    transform:scale(1.06 ) ;
    transition:0.2s ease-in;

}
